* {
    font-family: 'Oswald', sans-serif;
}

h2 {
    font-size: 3em;
    color: #3f51b5;
}

.center {
    text-align: center;
    font-size: 2em;
    color: #3f51b5;
}

#search {
    width: 370px;
}

.show {
    display: show;
}

.hidden {
    display: none;
}

#input-group {
    display: inline;
}

#credits {
    font-size: .3em;
}