* {
    font-family: 'Oswald', sans-serif;
}

h2 {
    font-size: 3em;
}

.center {
    /* margin-left: 15%; */
    text-align: center;
    font-size: 2em;
}

#search {
    width: 400px;
}

.show {
    display: show;
}

.hidden {
    display: none;
}