#projections {
    display: block;
    text-decoration: none;
}

#projections ul{
    display: inline-block;
    /* width: 110px; */
}

ul li{
    margin: auto;
    display: line;
    list-style-type: none;
}

div.projLists {
    display: inline;
}