h2 {
    text-align: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.MuiTableCell-root-37.MuiTableCell-head-38.MuiTableCell-numeric-41 {
    text-align: left;
}

#main {
    margin-left: 18%;
    margin-right: 18%;
}