h2 {
    text-align: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.MuiTableCell-root-37.MuiTableCell-head-38.MuiTableCell-numeric-41 {
    text-align: left;
}

#CryptoDash {
    text-align: center;
}

#searchBar {
    width: 100%;
    margin: 0 auto;
}

img {
    width: 20px;
}

#row {
    background-color: #939091;
}

#row:hover {
    background-color: #f5f5f5;
    color: #3f51b5;
}

#main {
    background-color: #f5f5f5;
    color: #3f51b5;
    width: 800px;
    margin: auto;
}

body {
    background-color: #f5f5f5;
}

#CryptoDashboardText {
    font-size: 32px;
}

#topMain {
    margin: 10 auto;
}